@utility line-numbers {
  & code {
    counter-reset: step;
    counter-increment: step 0;
  }
  & code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: @apply text-foreground;
    opacity: 0.375;
  }
}